* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;

}

.header {
    background: #E554731A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 100px;

}

.header img {
    width: 400px;
}

.flower-banner {
    width: 600px;
}

.flower-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}

.flower-description {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn-flower {
    border-radius: 8px;
    background: #E55473;
    padding: 10px 20px;
    border: 0;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

/* floewr item started */
.flower-item-1 img,
.flower-item-2 img,
{
width: 325px;
}

.flower-item-3 img {
    width: 300px;
}

.flower-item-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}

.flower-item-description {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0;
}

.flower-item-1 {
    width: 400px;
    height: 450px;
    background: #F2DEE7;
    border-radius: 300px 300px 0px 0px;

}


.flower-item-2 {
    width: 400px;
    height: 450px;
    background: #D9EFF1;
    border-radius: 300px 300px 0px 0px;
}

.flower-item-3 {
    width: 400px;
    height: 450px;
    background: #E3EBDB;
    border-radius: 300px 300px 0px 0px;
}

.flower-container {
    display: flex;
    justify-content: space-between;
}

.flower-name-container {
    display: flex;
    justify-content: space-around;
}

.flower-name {
    width: 190px;
    height: 35px;
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 100px;
    margin-top: 20px;

}